doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello There
        include pug/styles
    body
        .class welcome
        .class welcome
        .class welcome here
        .class welcome
        .class welcome
        .class welcome here
        .class welcome
        .class welcome
        .class welcome here
        .footer End
        include pug/scripts